// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/








body {
            background-color: #eeeeee;
        }

.h7 {
    font-size: 0.8rem;
}



.challenge-component-container{
  max-height: 15em;
}


.propped-challenge-container{
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
    height: 0em;
    padding-top: 0em;
}

.challenge-form{
    /*background-color: rgba(0, 0, 0, 0.03);*/
}

.challenge-form-container{
    /*background-color: rgba(0, 0, 0, 0.03);*/
    height: 1em;
}


 .propped-challenge {
    margin-top: 0rem;
    border:     none !important;
    background-color: rgba(0, 0, 0, 0.03) !important;
}



/* from  app.vue */

/*input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
*/


.propped-challenge {
    width: 100% !important;
    /*margin-left: .25rem;*/
    /*margin-top : .5rem;*/
   

}


.msg-btn{
    border: none !important;
    margin-top: 0em;
    margin-bottom: 0px;

  
}

.msg-btn:hover{
    border: none !important;
    margin-top: 0em;
    background-color: rgba(0, 0, 0, 0.03) !important;
    color: grey;

}

.app{
  position:relative;
}

.prompter1 {
    /*height: 300px;*/
    /*background: black; */
    /*position:relative;*/

}

.prompter2 {
    height: 6em;
    width:100%;
    background-color: rgba(206, 232, 235, .5);    
    color: rgba(06, 109, 110, .5);    
    position:absolute;
    top:0;
}


.timer{
  color: red;
}






.entry-btn{
    border: none !important;
}



.btn-entry{
  width: 5%;
}

.entry-input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid grey !important;

  padding-bottom: 0px !important;
  padding-top: 0px !important;

  border-radius: 0 !important;
  
  width: 100% !important;
  outline: none !important;
  /*opacity: 1.0;*/
  /*font-weight: 100;*/
  
}


.entry-input:focus {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid grey !important;

  padding-bottom: 0px !important;
  padding-top: 0px !important;

  border-radius: 0 !important;
  
  width: 100% !important;
 outline: none !important;
  /*opacity: 1.0;*/
  /*font-weight: 100;*/
  
}


/* TO correcto a bootrap bugg that was giving links a black background I had overwrite it */

.nav-link:hover {
  background-color: #f8f9fa !important;
}
/*from add entry*/

.prompter-h1{
  margin-top: 6%
}














