// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




body {
            background-color: #eeeeee;
        }

.h7 {
    font-size: 0.8rem;
}






.propped-challenge-container{
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
    height: 5em;
    padding-top: 0em;
}

.challenge-form{
    /*background-color: rgba(0, 0, 0, 0.03);*/
}

.challenge-form-container{
    /*background-color: rgba(0, 0, 0, 0.03);*/
    height: 3em;
}


 .propped-challenge {
    margin-top: 0rem;
    border:     none !important;
    background-color: rgba(0, 0, 0, 0.03) !important;
}





.entry-input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid grey;

  padding-bottom: 0px !important;
  padding-top: 0px !important;

  border-radius: 0;
  
  width: 100% !important;
  outline: none;
  /*opacity: 1.0;*/
  /*font-weight: 100;*/
  
}


.entry-input:focus {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid grey;
  width: 100% !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  
  outline: none !important;
  opacity: 1.0;
  font-weight: 100;

  transition: none !important;
  
}

